.foods-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    
}

.food-card{
    border: 1px solid rebeccapurple;
    border-radius: 10px;
    background-color: rgba(128, 0, 128, 0.199);
}
